In [4]:
import pandas as pd
import numpy as np
import matplotlib as

In [48]:
df = pd.read_csv('all_data.csv')
df

     Country  Year  Life expectancy at birth (years)           GDP
0      Chile  2000                              77.3  7.786093e+10
1      Chile  2001                              77.3  7.097992e+10
2      Chile  2002                              77.8  6.973681e+10
3      Chile  2003                              77.9  7.564346e+10
4      Chile  2004                              78.0  9.921039e+10
..       ...   ...                               ...           ...
91  Zimbabwe  2011                              54.9  1.209845e+10
92  Zimbabwe  2012                              56.6  1.424249e+10
93  Zimbabwe  2013                              58.0  1.545177e+10
94  Zimbabwe  2014                              59.2  1.589105e+10
95  Zimbabwe  2015                              60.7  1.630467e+10

[96 rows x 4 columns]

In [49]:
df['GDP'] = df['GDP'].map('${:,.2f}'.format)

print(df)

     Country  Year  Life expectancy at birth (years)                 GDP
0      Chile  2000                              77.3  $77,860,932,152.00
1      Chile  2001                              77.3  $70,979,923,960.00
2      Chile  2002                              77.8  $69,736,811,435.00
3      Chile  2003                              77.9  $75,643,459,840.00
4      Chile  2004                              78.0  $99,210,392,858.00
..       ...   ...                               ...                 ...
91  Zimbabwe  2011                              54.9  $12,098,450,749.00
92  Zimbabwe  2012                              56.6  $14,242,490,252.00
93  Zimbabwe  2013                              58.0  $15,451,768,659.00
94  Zimbabwe  2014                              59.2  $15,891,049,236.00
95  Zimbabwe  2015                              60.7  $16,304,667,807.00

[96 rows x 4 columns]

In [50]:
df.shape

(96, 4)

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96 entries, 0 to 95
Data columns (total 4 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Country                           96 non-null     object
 1   Year                              96 non-null     int64
 2   Life expectancy at birth (years)  96 non-null     float64
 3   GDP                               96 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 3.1+ KB

In [52]:
print(df[df.isnull().any(axis=1)])

Empty DataFrame
Columns: [Country, Year, Life expectancy at birth (years), GDP]
Index: []

In [53]:
print(df.describe())

              Year  Life expectancy at birth (years)
count    96.000000                         96.000000
mean   2007.500000                         72.789583
std       4.633971                         10.672882
min    2000.000000                         44.300000
25%    2003.750000                         74.475000
50%    2007.500000                         76.750000
75%    2011.250000                         78.900000
max    2015.000000                         81.000000

In [40]:
country_count = df.groupby(['Country']).count()
country_count

                          Year  Life expectancy at birth (years)  GDP
Country
Chile                       16                                16   16
China                       16                                16   16
Germany                     16                                16   16
Mexico                      16                                16   16
United States of America    16                                16   16
Zimbabwe                    16                                16   16